/* css styles */
/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';

$primary: #412d5e;
$secondary: #bbbbbb;
$font-family: "Open Sans", sans-serif;
$link-color: #a49363;

/*-- scss:rules --*/